In [41]:
import pandas as pd

In [44]:
df = pd.read_csv("autompg.csv")

In [45]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [46]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [47]:
X = df.iloc[:,[2,4]]
y = df.iloc[:,[5]]

In [48]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [49]:
 X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 20)

In [50]:
scaler = MinMaxScaler().fit(X_train)

In [51]:
scaler.data_min_

array([  70., 1613.])

In [52]:
scaler.data_max_

array([ 455., 5140.])

In [53]:
X_train.describe()

       displacement       weight
count    298.000000   298.000000
mean     195.058725  2995.808725
std      101.744451   836.297818
min       70.000000  1613.000000
25%      105.000000  2247.250000
50%      151.000000  2860.000000
75%      302.000000  3649.500000
max      455.000000  5140.000000

In [54]:
scaler.feature_range

(0, 1)

In [55]:
X_train = scaler.transform(X_train)

In [56]:
scaler = MinMaxScaler().fit(X_test)

In [57]:
X_test = scaler.transform(X_test)