In [194]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import numpy as np

In [195]:
df = pd.read_excel(r"C:\Users\Savitar\Downloads\TimeTable Project.xlsx", sheet_name = 0)
df1 = pd.read_excel(r"C:\Users\Savitar\Downloads\TimeTable Project.xlsx", sheet_name = 1)
df2 = pd.read_excel(r"C:\Users\Savitar\Downloads\TimeTable Project.xlsx", sheet_name = 2)
df2 = df2.drop(0).reset_index(drop=True)

In [196]:
print(df1.columns)
print(df2.columns)

Index(['Subject', 'Jr. KG A', 'Jr. KG B', 'Jr. KG C', 'Jr. KG D', 'Sr. KG A',
       'Sr. KG B', 'Sr. KG C', 'Sr. KG D', 'I A ', 'IB ', 'IC ', 'ID '],
      dtype='object')
Index(['Subject Allotment  for AY 2024-25', 'Unnamed: 1', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4'],
      dtype='object')

In [197]:
df = df.dropna(subset=df.columns[1:], how='all')
df1 = df1.dropna(subset=df1.columns[1:], how='all')
df2 = df2.dropna(subset=df2.columns[1:], how='all')

In [198]:
df.reset_index(drop=True, inplace=True)
df1.reset_index(drop=True, inplace=True)
df2.reset_index(drop=True, inplace=True)

In [199]:
df = df.astype(str)
df1 = df1.astype(str)
df2 = df2.astype(str)

In [200]:
df3

                         Subject       Jr. KG       Sr. KG         I
0                            Eng            5            5         8
1                          Hindi            4            4         6
2                    Mathematic             4          4.5         7
3                 Social Studies         -            -        -
4                        Science         -            -        -
5                       Marathi          -            -            2
6                            EVS            2            3         5
7               Computer Studies          0.5          0.5         2
8                    Circle Time          0.5          0.5         1
9                     Life Skill          0.5          0.5         1
10                PE/ CCA Sports            2            2         2
11                          Yoga          0.5          0.5         1
12                       KARATE             0            0         1
13                          Art             2            2         2
14                Clay modelling            1            1         1
15                         Music            1            1         1
16                       Music T          NaN          NaN         1
17                         Dance            1            1         1
18                       Library            1            1         1
19                          DEED            1          0.5         1
20                      Assembly            1          0.5         1
21                   Wonder time            1            1         1
22  Environmental Education --EE            2            1         1
23                     PLAY PEN           0.5          0.5       NaN
24                     Role play          0.5          NaN       NaN
25                           SGI          NaN          NaN         2
26                  CLASS TESTS           NaN          NaN         1
27                           NaN           31           30        50

In [201]:

# Combine datasets if necessary
combined_df = pd.concat([df, df1, df2], axis=1)

# Display the combined dataframe and its columns to identify the target column
print(combined_df.head())
print("Combined dataframe columns:", combined_df.columns)

       Subject Jr. KG Sr. KG    I            Subject              Jr. KG A  \
0          Eng    5.0    5.0  8.0                Eng  Nupur FT , Pooja  R
1        Hindi    4.0    4.0  6.0              Hindi                    HR
2  Mathematic     4.0    4.5  7.0  Marathi -3rd Lang                   nan
3     Marathi     nan    nan  2.0        Mathematics                    HR
4          EVS    2.0    3.0  5.0                EVS                    HR

       Jr. KG B           Jr. KG C        Jr. KG D          Sr. KG A  ...  \
0  Maria , Banu  Shireen , Riya J   Sheetal Anjum   Ruksaar Darshana  ...
1            HR                 HR              HR                HR  ...
2           nan                nan             nan               nan  ...
3            HR                 HR              HR                HR  ...
4            HR                 HR              HR                HR  ...

            Sr. KG D                 I A             IB                   IC   \
0  Ankita\n Jyoti V   Remya,Saraswati -FT  Kanak,Matilda   Rishita,Shashwati,
1                 HR               Reshma         Reshma            Santosh K
2                nan             Dakshata       Dakshata             Pratibha
3                 HR                   HR             HR                   HR
4                 HR                   HR             HR                   HR

                 ID  Subject Allotment  for AY 2024-25           Unnamed: 1  \
0  Charu ,Maariyah,                           Nursery        Riya , Swarali
1          Santosh K                           Jr.KG A        Kim,Rukhsaar,
2           Pratibha                           Jr.KG B        Maria, Shital
3                 HR                           Jr.KG C     Shireen , Uphaar
4                 HR                           Jr.KG D   Priyanka ,Darshana

  Unnamed: 2 Unnamed: 3 Unnamed: 4
0        nan        nan        nan
1        nan        All  Home Room
2        nan        All  Home Room
3        nan        All  Home Room
4        nan        All  Home Room

[5 rows x 22 columns]
Combined dataframe columns: Index(['Subject', 'Jr. KG', 'Sr. KG', 'I', 'Subject', 'Jr. KG A', 'Jr. KG B',
       'Jr. KG C', 'Jr. KG D', 'Sr. KG A', 'Sr. KG B', 'Sr. KG C', 'Sr. KG D',
       'I A ', 'IB ', 'IC ', 'ID ', 'Subject Allotment  for AY 2024-25',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],
      dtype='object')

In [208]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import numpy as np

# Load the datasets
df = pd.read_excel(r"C:\Users\Savitar\Downloads\TimeTable Project.xlsx", sheet_name=0)
df1 = pd.read_excel(r"C:\Users\Savitar\Downloads\TimeTable Project.xlsx", sheet_name=1)
df2 = pd.read_excel(r"C:\Users\Savitar\Downloads\TimeTable Project.xlsx", sheet_name=2)
df2 = df2.drop(0).reset_index(drop=True)

# Drop rows where all elements are NaN except the first column
df = df.dropna(subset=df.columns[1:], how='all')
df1 = df1.dropna(subset=df1.columns[1:], how='all')
df2 = df2.dropna(subset=df2.columns[1:], how='all')

# Reset index
df.reset_index(drop=True, inplace=True)
df1.reset_index(drop=True, inplace=True)
df2.reset_index(drop=True, inplace=True)

# Convert all values to strings
df = df.astype(str)
df1 = df1.astype(str)
df2 = df2.astype(str)

# Combine datasets
combined_df = pd.concat([df, df1, df2], axis=1)

# Check shapes of individual and combined dataframes
print(f"Shape of df: {df.shape}")
print(f"Shape of df1: {df1.shape}")
print(f"Shape of df2: {df2.shape}")
print(f"Shape of combined_df: {combined_df.shape}")

# Define target column (adjust if needed)
target_column = 'Subject'  # This is an example, please adjust accordingly

# Extract the target variable
y = combined_df[target_column]

# Ensure y is a 1D array
y = y.values.ravel()
print(f'Target variable shape: {y.shape}')

# Define features by excluding the target column
X = combined_df.drop(columns=[target_column])
print(f'Features shape: {X.shape}')

# Ensure the number of rows in X and y match
print(f'Number of rows in features X: {X.shape[0]}')
print(f'Number of rows in target y: {y.shape[0]}')

# Convert all values to string before encoding
X = X.astype(str)

# Encode categorical features
encoder = LabelEncoder()
for column in X.columns:
    X[column] = encoder.fit_transform(X[column])

# Encode the target variable
y = encoder.fit_transform(y)

# Ensure the number of rows in X and y match after encoding
print(f'Number of rows in features X after encoding: {X.shape[0]}')
print(f'Number of rows in target y after encoding: {y.shape[0]}')

# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the model
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Evaluate the model
accuracy = model.score(X_test, y_test)
print(f'Model Accuracy: {accuracy}')

# Generate Timetable
# Sample new data from existing data
new_data_indices = np.random.choice(X_test.index, size=15, replace=False)
new_data = X_test.loc[new_data_indices]

# Predictions
predictions = model.predict(new_data)

# Decode the predictions
predictions = encoder.inverse_transform(predictions)

# Create a dataframe for the predictions
timetable = pd.DataFrame(predictions, columns=['Subject'])
print(timetable)

Shape of df: (26, 4)
Shape of df1: (20, 13)
Shape of df2: (13, 5)
Shape of combined_df: (26, 22)
Target variable shape: (52,)
Features shape: (26, 20)
Number of rows in features X: 26
Number of rows in target y: 52
Number of rows in features X after encoding: 26
Number of rows in target y after encoding: 52

ValueError: Found input variables with inconsistent numbers of samples: [26, 52]